<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Dojo Survey</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <div class="bigBoy">
        <form action="/result" method="post">
            {% csrf_token %}
            <label for="name">Your Name:</label>
            <input type="text" id="name" name="your_name" placeholder="Your name..">

            <label for="dojo_location">Dojo Location:</label>
            <select id="dojo_location" name="dojo_location">
                <option value="chicago">Chicago</option>
                <option value="san_jose">San Jose</option>
                <option value="new_york">New York</option>
            </select>

            <label for="language">Favorite Language:</label>
            <select id="language" name="language">
                <option value="python">Python</option>
                <option value="javascript">JavaScript</option>
                <option value="c#">C#</option>
            </select>
            <label for="comment">Comment (optional):</label>
            <textarea id="comment" name="comment" placeholder="Write something.." style="height:200px"></textarea>

            <input type="submit" value="Submit">
        </form>
    </div>

</body>

</html>